<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681253552832-s0v71li6tbr7b7uqdg6a8r4qlpcvneen.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681253552832-s0v71li6tbr7b7uqdg6a8r4qlpcvneen</string>
	<key>API_KEY</key>
	<string>AIzaSyBZqOAFtTxLc9l9K90OZ_nLf1HACamTMEk</string>
	<key>GCM_SENDER_ID</key>
	<string>681253552832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HackTrio.YourFolio</string>
	<key>PROJECT_ID</key>
	<string>yourfolio-ebc31</string>
	<key>STORAGE_BUCKET</key>
	<string>yourfolio-ebc31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681253552832:ios:a5ec03f0c5e9c8ec</string>
	<key>DATABASE_URL</key>
	<string>https://yourfolio-ebc31.firebaseio.com</string>
</dict>
</plist>